<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>博客首页</title>
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
<h1>你好 gua</h1>
<img src="images/doge.gif" alt="doge.gif"/>
<div class="blog-new">
    <div class="">
        <label>
            博文标题
            <input type="text" value="" id="id-input-title"><br>
        </label>
        <label>
            博文作者
            <input type="text" value="" id="id-input-author"><br>
        </label>
        <label>
            博文内容
            <input type="text" value="" id="id-input-content"><br>
        </label>
        <button id="id-button-submit">发表新博文</button>
    </div>
</div>
<div class="gua-blogs">
</div>
<script src="js/blogMain.js" type="application/javascript" charset="utf-8"></script>
</body>
</html>