@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1812626_jnf9r6v7fds.eot?t=1589210331008'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1812626_jnf9r6v7fds.eot?t=1589210331008#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJkAAsAAAAABigAAAIaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0UAE2AiQDCAsGAAQgBYRtBy0bcwURBZzJfiTYNmnWs/hPWmEjWvomHh7HtPeTdMuIHKDqqg4cIaqzzFqcBnasT1c3huALCjIQDNFUDN3Qqvd/aod9oQPKwjxPvMv/uP93xuW6lEpUwALW57mc3gQ6kPmBTvQQm9v2oLWpF1AvsQLdy6LISijjhrELXMJ9At0mtcS6Ddv2qQprWSCuXb54Ws1FFYUVqtBRs7eItxpqepbe4U34/fhnUVSSRmat3XVh/Tmrfvop323fdcwnxAjwcAMZLRRiX212hywYl3Vni1n2VR781G77XrFXl2B/nVXaC8ZhLvjJXSpAgtuaqBcDo54kem/0pu7cG325J/Ut3b2/2TzgeK1CP8sH0nuB4PCjt7dODiz7X6OAzz9efQ6dRT8/dV1v+AeangNF11meVFRN7WjSu++2bt1ow8Fh38fax05YDNXYCH+niRRZNU8WtoWGHkvQoVqJbgs2Hu4x4rosSheaHgGEBj4g6cHgSwr7g2p/GMQR7qLODBNBLKFkNKDeEPQ8WcfHIio/obtnSVldyN+QtpCAtmqKhREnpDk2bA/XMVuwNBcYwGOY8wwLzRE1V5556eva1r2p0nPZCYsgiSEDKG8g0GYT649novT5E+TcZRK19NWUN4hswvSgVWl6kKN56tV3L69sHpwOYxawyKwAA5iFsmwGlvpZEdJYxY9IL3q1Pcz2NVfrx4oDS4VzUOC6jE8bs9sB') format('woff2'),
  url('//at.alicdn.com/t/font_1812626_jnf9r6v7fds.woff?t=1589210331008') format('woff'),
  url('//at.alicdn.com/t/font_1812626_jnf9r6v7fds.ttf?t=1589210331008') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1812626_jnf9r6v7fds.svg?t=1589210331008#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e600";
}
